
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  padding: 20px;
  background-color: #2b2b2b;
  color: #ddd;
}

main {
  max-width: 750px;
  margin: 0 auto;
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
  color: #fff;
}

h2 {
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 10px;
  color: #fff;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
}

a {
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

blockquote {
  border-left: 5px solid #ddd;
  margin: 20px 0;
  padding-left: 20px;
  color: #fff;
}

code {
  background-color: #444;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  padding: 2px 5px;
  color: #ddd;
}
